<!-- Footer 9 -->

<footer class="footer_9 bg_dark_gray padding_top90 padding_bottom10">
	<div class="container nopadding">
		<div class="row">
			<div class="col-lg-5 col-md-12 block_left bottom70">
				<div class="max_width370 font28 font_second white title"><b>200,000</b> users registered since January 2015</div>
				<div class="top15 max_width370 font16 white opacity3 text">
					We've created the product that will help your startup to look even better
				</div>
				<div class="top40 buttons">
					<a href="#" class="btn size40 radius6 transparent_twitter_color border border_twitter_color padding_sides15 font14 right20 bottom20"><i class="fab fa-twitter right10"></i>Follow @Designmodo</a>
					<a href="#" class="btn size40 radius6 transparent_facebook_color border border_facebook_color padding_sides15 font14"><i class="fab fa-facebook-square right10"></i>Follow</a>
				</div>
				<div class="top70 links">
					<a href="#" class="font16 white link opacity3 underline right30">Terms of Service</a>
					<a href="#" class="font16 white link opacity3 underline">Privacy Policy</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6 top5 bottom50">
				<div class="bottom30 font14 semibold uppercase spacing15 white title">About</div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Features</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Templates</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Integrations</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Team</a></div>
			</div>
			<div class="col-lg-2 col-md-4 col-6 top5 bottom50">
				<div class="bottom30 font14 semibold uppercase spacing15 white title">Resources</div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Ebooks</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Infographics</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Tools</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Videos</a></div>
				<div class="bottom20"><a href="#" class="font16 link white opacity7">Podcasts</a></div>
			</div>
			<div class="col-lg-3 col-md-4 top15 clearfix">
				<div class="float_right text-center block_right">
					<a href="#" class="btn red size50 radius6 padding_sides30 font16">Buy App Now</a>
					<div class="top15 font16 white text">
						<span class="opacity3">or </span><a href="#" class="white link underline opacity3">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
	<a class="close">
		<img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="assets/i/close_white.png" alt="" />
	</a>
	<div class="flex align_center justify_center width_full height_full iframe_container"></div>
</div>

<script src="assets/js/slick.min.js"></script>
<script src="assets/js/aos.min.js"></script>
<script src="assets/js/jquery.maskedinput.min.js"></script>
<script src="assets/js/script.js"></script>