<!-- Navigation Mobile type 3 -->

<a class="open_menu bg_white radius_full"><i class="fas fa-bars line_height40"></i></a>
<div class="navigation_mobile type3">
	<a class="close_menu white"><i class="fas fa-times"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 inner">
		<div class="profile">
			<img srcset="assets/i/demo_images/team_5_foto2.jpg 1x, assets/i/demo_images/team_5_foto2_2x.jpg 2x" src="assets/i/demo_images/team_5_foto2.jpg" class="radius_full width60 float_left" alt="" />
			<div class="left80 clearfix">
				<div class="top10 font14 semibold white uppercase spacing15">Colin Timmons</div>
				<div class="font14 white opacity3">Front-end Developer</div>
			</div>
		</div>
		
		<div class="top45 bottom15 font12 semibold white uppercase spacing15 opacity3">Products</div>
		<div><a href="#" class="font18 link white bottom15">Domains</a></div>
		<div><a href="#" class="font18 link white bottom15">Websites</a></div>
		<div><a href="#" class="font18 link white bottom15">Online Stores</a></div>
		<div><a href="#" class="font18 link white bottom15">iOs Applications</a></div>

		<div class="top45 bottom15 font12 semibold white uppercase spacing15 opacity3">Company</div>
		<div><a href="#" class="font18 link white bottom15">About</a></div>
		<div><a href="#" class="font18 link white bottom15">Careers</a></div>
		<div><a href="#" class="font18 link white bottom15">Press & Media</a></div>
		<div><a href="#" class="font18 link white bottom15">Privacy Policy</a></div>
		
		<div class="top45 bottom15 font12 semibold white uppercase spacing15 opacity3">Help</div>
		<div><a href="#" class="font18 link white bottom15">Workshops</a></div>
		<div><a href="#" class="font18 link white bottom15">Support</a></div>
		<div><a href="#" class="font18 link white bottom15">F.A.Q.</a></div>
	</div>
</div>

<!-- Header 3 -->

<header class="padding_top220 padding_bottom150 bg_white header_3">

	<!-- Navigation 2 -->

	<nav class="navigation_2 padding_top30 padding_bottom30 top30">
		<div class="container nopadding">
			<div class="row line_height40">
				<div class="col-xl-8 col-lg-7 block_left">
					<div class="right20 inline_block nav_logo"><b>Startup</b> Framework</div>
					<div class="inline_block padding_sides20 dropdown">
						<a href="#" class="link dark_blue dropdown-toggle" id="navigation_2_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
						<div class="bg_white dropdown-menu" aria-labelledby="navigation_2_dropdown">
							<div><a href="#" class="link dark_blue">Startup Framework 2</a></div>
							<div><a href="#" class="link dark_blue">Slides</a></div>
							<div><a href="#" class="link dark_blue">Qards</a></div>
						</div>
					</div>
					<a href="#" class="link dark_blue sides20">Pricing</a>
					<a href="#" class="link dark_blue sides20">Community</a>
				</div>
				<div class="col-xl-4 col-lg-5 text_right block_right">
					<a href="#" class="link dark_blue sides20">API</a>
					<a href="#" class="link dark_blue sides20">Help</a>
					<a href="#" class="link dark_blue sides20">Login</a>
					<a href="#" class="btn white border border_light_gray size40 radius6 padding_sides20">Sign Up</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container nopadding">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-6">
					<h1 class="font_second light font42">A high-quality solution for those who want a beautiful startup website quickly.</h1>
					<form action="form-handler.php" method="POST" class="width_full text-center top75 header_3_form">
						<div class="row">
							<div class="col-xl-10">
								<input type="email" name="email" class="width_full input size60 border border_light_gray focus_medium_gray radius6 padding_sides25" placeholder="Email Adress" required />
								<input type="password" name="password" class="width_full input size60 border border_light_gray focus_medium_gray radius6 padding_sides25 top30" placeholder="Password" required />
								<div class="top20 medium_gray text">By signing up, you agree to the <a class="link dark_blue underline" href="#">Terms of Service</a></div>
								<button class="btn width_full size60 blue radius6 top25">Create an Account</button>
							</div>
						</div>
					</form>
			</div>
			<div class="col-xl-1"></div>
			<div class="col-xl-5 col-lg-6 padding_top10 right_block">
				<div class="width_full height265 radius8 video" data-ratio="16/9">
					<div class="radius8 poster">
						<div class="play red"><i class="fas fa-play"></i></div>
					</div>
					<video controls>
						<source src="assets/video/video1.mp4" type="video/mp4">
					</video>
				</div>
				<div class="font18 dark_blue top30">
					We made it so beautiful and simple. It combines landings, pages, blogs and shop screens. It is definitely the tool you need in your collection! 
				</div>
			</div>
		</div>		
	</div>
</header>