---
title: test
layout: 'base.njk'
---

<!-- Content 5 -->

<section class="content_5 padding_top120 padding_bottom110">
	<div class="container nopadding max_width970">
		<div class="max_width770 margin_auto text-center white inner">
			<div class="font14 semibold uppercase spacing15 pretitle">Free Sample</div>
			<h2 class="top30 font_second light font62">Demo Version of Startup Framework</h2>
			<div class="font18 light opacity7 top40 text">
				Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
			</div>
		</div>
	</div>
</section>

<!-- Showcase 1 -->

<section class="showcase_1 bg_white padding_top105 padding_bottom80">
	<div class="container nopadding text-center">
		<h2 class="font42 light font_second dark_gray">Better design for your content.</h2>
		<div class="margin_auto top25 max_width770 font18 light text">
			Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.
		</div>
		<div class="top60 buttons">
			<a href="#" class="bottom20 btn size50 blue padding_sides25 sides10">View Showcase</a>
			<a href="#" class="btn size50 transparent_blue border border_blue padding_sides25 sides10">Download .pdf</a>
		</div>
		<div class="row cards_row">
			<div class="top65 text-left flex justify_between cards">
				<div class="margin_auto bottom60 max_width370 block">
					<a><img srcset="assets/i/demo_images/showcase_1_foto1.jpg 1x, assets/i/demo_images/showcase_1_foto1_2x.jpg 2x" src="assets/i/demo_images/showcase_1_foto1.jpg" class="radius8 width_full" alt="" /></a>
					<a class="top25 font18 semibold font_second link dark_gray title">iPhone Features</a>
					<div class="top10 font16 light hyphens">
						Startup Framework works fine on devices supporting Retina Display. Feel the clarity!	
					</div>
				</div>
				<div class="margin_auto bottom60 max_width370 block">
					<a><img srcset="assets/i/demo_images/showcase_1_foto2.jpg 1x, assets/i/demo_images/showcase_1_foto2_2x.jpg 2x" src="assets/i/demo_images/showcase_1_foto2.jpg" class="radius8 width_full" alt="" /></a>
					<a class="top25 font18 semibold font_second link dark_gray title">Bootstrap Based Design</a>
					<div class="top10 font16 light hyphens">
						HTML layout is based on one of the most common and reliable framework - Bootstrap.
					</div>
				</div>
				<div class="margin_auto bottom60 max_width370 block">
					<a><img srcset="assets/i/demo_images/showcase_1_foto3.jpg 1x, assets/i/demo_images/showcase_1_foto3_2x.jpg 2x" src="assets/i/demo_images/showcase_1_foto3.jpg" class="radius8 width_full" alt="" /></a>
					<a class="top25 font18 semibold font_second link dark_gray title">Prototyping</a>
					<div class="top10 font16 light hyphens">
						We used only time-tested technologies for the best results.
					</div>
				</div>
				<div class="margin_auto bottom60 max_width370 block">
					<a><img srcset="assets/i/demo_images/showcase_1_foto4.jpg 1x, assets/i/demo_images/showcase_1_foto4_2x.jpg 2x" src="assets/i/demo_images/showcase_1_foto4.jpg" class="radius8 width_full" alt="" /></a>
					<a class="top25 font18 semibold font_second link dark_gray title">More than Image</a>
					<div class="top10 font16 light hyphens">
						We prepared some high-quality photos, that you can use in your projects.
					</div>
				</div>
				<div class="margin_auto bottom60 max_width370 block">
					<a><img srcset="assets/i/demo_images/showcase_1_foto5.jpg 1x, assets/i/demo_images/showcase_1_foto5_2x.jpg 2x" src="assets/i/demo_images/showcase_1_foto5.jpg" class="radius8 width_full" alt="" /></a>
					<a class="top25 font18 semibold font_second link dark_gray title">Startup Framework Generator</a>
					<div class="top10 font16 light hyphens">
						Startup Framework contains components and complex blocks which can easily be integrated into almost any design. 
					</div>
				</div>
				<div class="margin_auto bottom60 max_width370 block">
					<a><img srcset="assets/i/demo_images/showcase_1_foto6.jpg 1x, assets/i/demo_images/showcase_1_foto6_2x.jpg 2x" src="assets/i/demo_images/showcase_1_foto6.jpg" class="radius8 width_full" alt="" /></a>
					<a class="top25 font18 semibold font_second link dark_gray title">More than Design</a>
					<div class="top10 font16 light hyphens">
						Carefully crafted precise design, with harmonious typography and perfect padding around every component.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



